<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO básico -->
  <title>Filmatrix — Donde brillan tus reseñas</title>
  <meta name="description" content="Tu diario cinematográfico. Registrá, descubrí y compartí las películas que te definen.">

  <!-- Preconexión para optimizar la velocidad -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Importación de Inter (Sans-Serif) y DM Serif Display (Serif) -->
  <!-- <link href="https://googleapis.com" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/hero.css">
  <link rel="stylesheet" href="/assets/css/movie-card.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<script src="/assets/js/app.js" type="module"></script>

<body>

  {% include 'partials/header.html.twig' %}

  <main>
    <section class="hero">
      <h1>Filmatrix</h1>
      <h2>Donde brillan tus reseñas</h2>
    </section>

    <section class="popular-movies">
      <div class="movie-flex">
        {% if (popular is empty) %}
          <p class="catalogo-empty">Sin títulos disponibles.</p>
        {% endif %}

        {% import 'macros/movie-cards.html.twig' as cards %}

        {% for movie in popular %}
          {{ cards.movieCard(movie) }}
        {% endfor %}
      </div>
    </section>


    <section class="daily-review">
      <h2>Reseña del día</h2>
      <article>
        <a href="#">
          <figure>
            <img src="{{ dailyReview.url_banner }}" alt="{{ dailyReview.title }}">
          </figure>
        </a>
        <div class="daily-review__content">
          <h3 class="daily-review__title">{{ dailyReview.title }}</h3>
          <span class="daily-review__year">{{ dailyReview.year }}</span>
          <div class="daily-review__author">
            <img src="{{ dailyReview.avatar }}" alt="Avatar de {{ dailyReview.author }}">
            <span> {{ dailyReview.author }}</span>
          </div>
          <p class="daily-review__text"> {{dailyReview.body }}</p>
          <span class="daily-review__likes">&hearts; {{ dailyReview.likes }}</span>
        </div>
      </article>
    </section>
  </main>

  {% include 'partials/footer.html.twig' %}
</body>
