{# views/macros/movie-card.html.twig #}
{% macro movieCard(movie) %}
  <article class="movie-card">
    <a href="/movie?tmdb_id={{ movie.tmdb_id }}" class="movie-card__link">
      <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
      <div class="movie-card__overlay">
        <p class="movie-card__title">{{ movie.title }}</p>
        <p class="movie-card__score">{{ movie.avg_score|default('S/P') }}</p>
      </div>
    </a>
  </article>
{% endmacro %}
