{# views/macros/title-cards.html.twig #}
{% macro titleCard(movie) %}
  <article class="movie-card">
    <a href="/titles/detail?tmdb_id={{ movie.tmdbId }}" class="movie-card__link">
      <img src="{{ movie.posterUrl }}" alt="{{ movie.title }}">
      <div class="movie-card__overlay">
        <p class="movie-card__title">{{ movie.title }}</p>
        <p class="movie-card__score">{{ movie.avgScore|default('S/P') }}</p>
      </div>
    </a>
  </article>
{% endmacro %}

{% macro upcomingCard(release) %}
  <article class="movie-card upcoming-card">
    <a href="/titles/detail?tmdb_id={{ release.tmdb_id }}" class="movie-card__link">
      <img src="{{ release.poster_url|default('/assets/img/hero-bg.webp') }}" alt="{{ release.title }}">
      <div class="movie-card__overlay">
        <p class="movie-card__title">{{ release.title }}</p>
        <p class="upcoming-card__date">{{ release.release_date|date('d/m') }}</p>
      </div>
    </a>
  </article>
{% endmacro %}